<!--<!DOCTYPE web-app PUBLIC-->
<!-- "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"-->
<!-- "http://java.sun.com/dtd/web-app_2_3.dtd" >-->

<!--<web-app>-->
<!--  <display-name>Archetype Created Web Application</display-name>-->
<!--</web-app>-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>SecureWeb Inc. Application</display-name>

    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.secureweb.controls.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Message Board Servlet -->
    <servlet>
        <servlet-name>MessageBoardServlet</servlet-name>
        <servlet-class>com.secureweb.controls.MessageBoardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageBoardServlet</servlet-name>
        <url-pattern>/messageBoard</url-pattern>
    </servlet-mapping>

    <!-- File Upload Servlet -->
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>com.secureweb.controls.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <!-- Logout Servlet -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.secureweb.controls.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.secureweb.controls.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>


    <!-- Session Timeout Configuration -->
    <session-config>
        <session-timeout>1</session-timeout> <!-- 5 minutes -->
    </session-config>

    <!-- Welcome File -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


</web-app>
